Create Table

In [0]:
CREATE TABLE sales_table (
    sale_id INT,
    product_id INT,
    quantity INT,
    price DECIMAL(10, 2),
    sale_date DATE
);

Insert Data into the Dataset

In [0]:
INSERT INTO sales_table (sale_id, product_id, quantity, price, sale_date) 
VALUES 
(1, 101, 10, 20.00, '2025-01-01'),
(2, 102, 15, 30.00, '2025-01-01'),
(3, 101, 20, 20.00, '2025-01-02'),
(4, 103, 5, 50.00, '2025-01-03'),
(5, 102, 30, 30.00, '2025-01-03');

Create the Materialized View

In [0]:
CREATE MATERIALIZED VIEW sales_summary AS
SELECT
    product_id,
    SUM(quantity) AS total_quantity,
    SUM(price * quantity) AS total_sales
FROM sales_table
GROUP BY product_id;

Query the Materialized View

In [0]:
SELECT * FROM sales_summary;

insert two more records

In [0]:
INSERT INTO sales_table (sale_id, product_id, quantity, price, sale_date) 
VALUES 
(6, 101, 25, 20.00, '2025-01-04'),
(7, 104, 10, 40.00, '2025-01-05');

If you update your underlying sales table, the materialized view will not automatically update. 
You need to manually refresh it to reflect the changes.

In [0]:
SELECT * FROM sales_summary;

Refresh the Materialized View

In [0]:
REFRESH MATERIALIZED VIEW sales_summary;

Now check for the refreshed one

In [0]:
SELECT * FROM sales_summary;

Drop the Materialized View , if no longer needed

In [0]:
DROP MATERIALIZED VIEW sales_summary;

In [0]:
SELECT * FROM sales_summary;